.pio
CMakeListsPrivate.txt

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.idea/
build/
trash/

/cmake-build-debug/
/cmake-build-attiny85/
